{% extends 'base.html' %}
{% block title %}Reservation Confirmation{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if reservation %}
        <h1>Reservation Confirmed</h1>
        <p>Your reservation for a {{ reservation.room.get_type_display }} room from {{ reservation.check_in_date }} to {{ reservation.check_out_date }} has been successfully made.</p>
        <p>Room Number: {{ reservation.room.room_no }}</p>
        <p>Total Price: ${{ total_price }}</p> 
        <!-- Assuming total_price is passed in the context -->
        <p>Customer Name: {{ reservation.customer.first_name }} {{ reservation.customer.last_name }}</p>
        <!-- Additional reservation details can be added here -->
    {% elif error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
        <a href="{% url 'make_reservation' %}" class="btn btn-primary">Go Back to Reservation</a>
    {% else %}
        <p>There was an issue processing your reservation. Please try again.</p>
        <a href="{% url 'make_reservation' %}" class="btn btn-primary">Try Again</a>
    {% endif %}
</div>
{% endblock %}
